.post-head {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  h1 {
    font-size: 3rem;
    line-height: 1.5;
    margin: 0;
  }
}

.sub-info {
  margin-top: 1rem;
  color: #868e96;
  span + span::before {
    color: #adb5bd;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    content: '\B7';
  }
}

.tags {
  margin-top: 0.5rem;
  .tag {
    display: inline-block;
    color: #1098ad;
    text-decoration: none;
    margin-right: 0.5rem;
  }
  &:hover {
    color: #15aabf;
  }
}

.post-content {
  font-size: 1.3125rem;
  color: #343a40;
}
